<div id="<%= dom_id word_list %>">
  <p>
    <strong>Game:</strong>
    <%= word_list.game_id %>
  </p>

  <p>
    <strong>Words:</strong>
    <%= word_list.words %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= word_list.name %>
  </p>

</div>
